<div>
<p>Peril Admin</p>
<%= link_to populate_admin_index_path(), class: 'btn btn-primary btn-lg', remote: true do %>populate database<% end %>
  <% if flash[:popnotice] %>
    <div class="notice"><%= flash[:popnotice] %></div>
  <% end %>
</div>